<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Form</title>

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- Link Roboto Font Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Script ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- Script Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Script Vuelidate -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="libs/vuelidate.min.js"></script>
    <script src="libs/validators.min.js"></script>

    <!-- Link CSS -->
    <link rel="stylesheet" href="dist/app.css">

</head>

<body>

    <!-- Vue Container -->
    <div id="root">

        <h1>Form</h1>

        <!-- Form 1 -->
        <form @submit.prevent="sendForm" autocomplete="off">

            <!-- Name -->
            <div class="box-form">
                <label for="name">Nome:</label>
                <input v-model="form.name"
                    @blur="$v.form.name.$touch()"
                    :class="{error: errorClass($v.form.name), valid: validClass($v.form.name)}"
                    id="name">
                <p v-if="$v.form.name.$error"
                    class="error-message">
                    Il campo nome è richiesto
                </p>
            </div>
            <!-- end Name -->

            <!-- Age -->
            <div class="box-form">
                <label for="age">Age:</label>
                <input v-model.number="form.age"
                    @blur="$v.form.age.$touch()"
                    :class="{error: errorClass($v.form.age), valid: validClass($v.form.age)}"
                    id="age">
                <div v-if="$v.form.age.$error">
                    <p v-if="!$v.form.age.required"
                        class="error-message">
                        Inserisci l'età per proseguire
                    </p>
                    <p v-else-if="!$v.form.age.integer"
                        class="error-message">
                        Il campo accetta solo numeri
                    </p>
                    <p v-else-if="!$v.form.age.minMaxAge"
                        class="error-message">
                        Devi aggiungere un dato compreso tra 12 e 120
                    </p>
                </div>
            </div>
            <!-- end Age -->

            <!-- Newsletter -->
            <div class="box-form">
                <label for="newsletter">Sottoscriviti alla nostra newsletter</label>
                <input v-model="form.newsletter"
                    type="checkbox"
                    id="newsletter">
            </div>
            <!-- end Newsletter -->

            <!-- Email -->
            <div class="box-form">
                <label for="email">Email:</label>
                <input v-model="form.email"
                    @blur="$v.form.email.$touch()"
                    :class="{error: errorClass($v.form.email), valid: validClass($v.form.email)}"
                    id="email">
                <p v-if="!$v.form.email.email && $v.form.email.$error"
                    class="error-message">
                    L'indirizzo email inserito non è valido
                </p>
                <p v-if="!$v.form.email.required && $v.form.email.$error"
                    class="error-message">
                    L'email è richiesta se vuoi aggiungerti alla nostra lista di newsletter
                </p>
            </div>
            <!-- end Email -->

            <!-- Submit -->
            <!-- Rimane disabilitato finchè i campi non vengono compilati correttamente
                 La mail è richiesta solo in caso di sottoscrizione alla newsletter -->
            <div>
                <button :disabled="$v.form.$invalid">Invia</button>
            </div>
            <!-- end Submit -->

        </form>
        <!-- end Form 1 -->

    </div>
    <!-- end Vue Container -->

    <!-- Script javascript -->
    <script type="text/javascript" src="dist/app.js"></script>

</body>

</html>