<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Form</title>

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- Link Karla Font Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Script Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Script Vuelidate -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="libs/vuelidate.min.js"></script>
    <script src="libs/validators.min.js"></script>

    <!-- Link CSS -->
    <link rel="stylesheet" href="dist/app.css">

</head>

<body>

    <!-- Vue Container -->
    <div id="root">

        <!-- Wrapper -->
        <section class="wrapper">

            <!-- Intro -->
            <div class="intro display-flex" :class="{ 'display-none' : formStartNone}">

                <!-- Image -->
                <div class="image">
                    <img src="./img/treedom2.png" alt="Treedom Logo">
                </div>

                <!-- Text -->
                <div class="text-intro">
                    <h1>Coding Challenge Treedom</h1>
                    <p>In questo progetto ho voluto ricreare 3 step di un form prendendo spunto da <a
                            href="https://www.typeform.com/" target="_blank">Typeform</a>.<br>
                        Per gestire gli effetti grafici e il passaggio tra form ho utilizzato Vue <span>v2.x</span> e
                        Javascript,<br>
                        invece per le validazioni ho utilizzato un'estensione di Vue denominata <a
                            href="https://vuelidate.js.org/" target="_blank">Vuelidate</a> <span>v2.x</span>.<br>

                        Premi il tasto <span>Inizia</span> per accedere al form.</p>
                </div>

                <!-- Button -->
                <div class="start display-flex">
                    <button @click="startForm()">Inizia</button>
                </div>

            </div>

            <!-- MAIN -->
            <main :class="{'display-none' : !formStartNone || recapFormBlock}">

                <!-- Form 1 -->
                <div id="form-name" class="container">

                    <form @submit.prevent="sendForm_name" autocomplete="off" class="display-flex">

                        <!-- Title Form -->
                        <div class="title">
                            <h2>Form Name</h2>
                            <p>In questo form andremo ad inserire una stringa che può contenere lettere e
                                numeri, l'unica richiesta è che la stringa non sia vuota.<br>
                                Premendo il tasto Ok oppure cliccando in un punto qualunque del monitor, avremo l'errore
                                che in questo caso scomparirà appena inseriremo del testo nella parte richiesta.<br>
                            </p>
                        </div>

                        <!-- Name -->
                        <div class="box-form">
                            <label for="name"></label>

                            <input v-model="form_name.name"
                                @blur="$v.form_name.name.$touch()"
                                :class="{error: errorClass($v.form_name.name), valid: validClass($v.form_name.name)}"
                                id="name"
                                placeholder="Scrivi qui la stringa..."
                                onfocus=" let value = this.value; this.value = null; this.value=value">

                            <transition name="transition">
                                <span v-if="$v.form_name.name.$error"
                                    class="error-message">

                                    <i class="fas fa-exclamation-triangle"></i>
                                    Il campo nome è richiesto

                                </span>

                                <div class="submit-status" v-if="submitStatus && !$v.form_name.name.$error">
                                    <p v-if="submitStatus === 'OK'">Grazie puoi proseguire!</p>
                                    <p v-if="submitStatus === 'PENDING'">Invio...</p>
                                </div>
                            </transition>

                        </div>

                        <!-- Submit -->
                        <div class="button-form" v-if="!$v.form_name.name.$error">
                            <button>Ok <i class="fas fa-check"></i></button>
                            <div v-if="form_name_success && submitStatus === 'OK' && windowWidth > widthXs">
                                premi <span>Invio <i class="fas fa-level-down-alt"></i></span></div>
                        </div>

                    </form>

                    <!-- Nav LG -->
                    <div class="box-nav-lg" v-if="windowWidth > widthXs">
                        <nav class="footer-navigation">
                            <a href="#form-age" @click="formAgeTrue()"
                                :class="[{disable : !form_name_success && !formAge}, {pulsebottom : form_name_success }]"><i
                                    class="fas fa-chevron-down"></i></a>
                            <a href="#" class="disable"><i class="fas fa-chevron-up"></i></a>
                        </nav>
                    </div>

                    <!-- Nav XS -->
                    <div class="box-nav-xs" v-if="windowWidth < widthXs && form_name_success">
                        <a href="#form-age" @click="formAgeTrue()">
                            <i class="fas 
                            fa-long-arrow-alt-right 
                            pulsebottom">
                            </i>
                        </a>
                    </div>

                </div>
                <!-- end Form 1 -->

                <!-- Form 2 -->
                <div id="form-age" class="container"
                    :class="{'flex-container-xs' : windowWidth < widthXs }"
                    v-if="form_name_success">

                    <form @submit.prevent="sendForm_age" autocomplete="off" class="display-flex">

                        <!-- Title Form -->
                        <div class="title">
                            <h2>Form Età</h2>
                            <p>In questo form andremo ad inserire un numero intero compreso tra 12 e 120, non accetta valori differenti.<br>
                                Inoltre non accetta l'inserimento di stringhe.
                            </p>
                        </div>

                        <!-- Age -->
                        <div class="box-form">
                            <label for="age"></label>

                            <input v-model.number="form_age.age"
                                @blur="$v.form_age.age.$touch()"
                                :class="{error: errorClass($v.form_age.age), valid: validClass($v.form_age.age)}"
                                id="age"
                                placeholder="Scrivi qui il numero...">

                            <transition name="transition">
                                <div v-if="$v.form_age.age.$error">
                                    <p v-if="!$v.form_age.age.required"
                                        class="error-message">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Inserisci l'età per proseguire
                                    </p>
                                    <p v-else-if="!$v.form_age.age.integer"
                                        class="error-message">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Il campo accetta solo numeri
                                    </p>
                                    <p v-else-if="!$v.form_age.age.minMaxAge"
                                        class="error-message">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Devi aggiungere un dato compreso tra 12 e 120
                                    </p>
                                </div>

                                <div class="submit-status" v-if="submitStatus && !$v.form_age.age.$error">
                                    <p v-if="submitStatus === 'OK'">Grazie puoi proseguire!</p>
                                    <p v-if="submitStatus === 'PENDING'">Invio...</p>
                                </div>
                            </transition>

                        </div>

                        <!-- Submit -->
                        <div class="button-form" v-if="!$v.form_age.age.$error">
                            <button>Ok <i class="fas fa-check"></i></button>
                            <div v-if="form_age_success && submitStatus === 'OK' && windowWidth > widthXs">premi
                                <span>Invio <i
                                        class="fas fa-level-down-alt"></i></span>
                            </div>
                        </div>

                    </form>

                    <!-- Nav LG -->
                    <div class="box-nav-lg" v-if="windowWidth > widthXs">
                        <nav class="footer-navigation">
                            <a href="#form-email" @click="formEmailTrue()"
                                :class="[{disable : ! form_age_success && !formEmail}, {pulsebottom : form_age_success }]"><i
                                    class="fas fa-chevron-down"></i>
                            </a>
                            <a href="#form-name"><i class="fas fa-chevron-up"></i></a>
                        </nav>
                    </div>

                    <!-- Nav XS -->
                    <div v-if="windowWidth < widthXs" class="box-nav-xs return">
                        <a href="#form-name">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </a>
                    </div>

                    <div v-if="windowWidth < widthXs && form_age_success" class="box-nav-xs">
                        <a href="#form-email" @click="formEmailTrue()">
                            <i class="fas 
                            fa-long-arrow-alt-right 
                            pulsebottom">
                            </i>
                        </a>
                    </div>

                </div>
                <!-- end Form 2 -->

                <!-- Form 3 -->
                <div id="form-email" class="container"
                    :class="{'flex-container-xs' : windowWidth < widthXs }"
                    v-if="form_age_success">

                    <form @submit.prevent="sendForm_email" autocomplete="off" class="display-flex">

                        <!-- Title Form -->
                        <div class="title">
                            <h2>Form Email</h2>
                            <p>
                                In questo form andremo ad inserire una mail, l'input è obbligatorio
                                se è presente la spunta nella checkbox della newsletter.
                            </p>
                        </div>

                        <!-- Newsletter -->
                        <div class="box-newsletter">
                            <label for="newsletter"></label>
                            <input v-model="form_email.newsletter"
                                type="checkbox"
                                id="newsletter"
                                placeholder="Inserisci qui l'indirizzo mail...">
                            <span class="input-newsletter" @click="checkboxToggle()">
                                <i class="fas fa-check" :class="{'display-block' : checkBlock}"></i>
                            </span>
                            <span class="text">Iscriviti alla nostra newsletter</span>
                        </div>

                        <!-- Email -->
                        <div class="box-form">
                            <label for="email"></label>

                            <input v-model="form_email.email"
                                @blur="$v.form_email.email.$touch()"
                                :class="{error: errorClass($v.form_email.email), valid: validClass($v.form_email.email)}"
                                id="email"
                                placeholder="esempio@email.it...">

                            <transition name="transition">
                                <div v-if="!$v.form_email.email.required && $v.form_email.email.$error"
                                    class="submit-status">
                                    <p>Inserisci un indirizzo mail valido</p>
                                </div>


                                <div class="submit-status" v-if="submitStatus && !$v.form_email.email.$error">
                                    <p v-if="submitStatus === 'OK'">Complimenti hai terminato!</p>
                                    <p v-if="submitStatus === 'PENDING'">Invio...</p>
                                </div>
                            </transition>

                        </div>

                        <!-- Submit -->
                        <div class="button-form" v-if="!$v.form_email.email.$error">
                            <button @click="recapFormBlock = true">Termina</button>
                        </div>

                    </form>

                    <!-- Nav LG -->
                    <div class="box-nav-lg" v-if="windowWidth > widthXs">
                        <nav class="footer-navigation">
                            <a href="#form-age"><i class="fas fa-chevron-up"></i></a>
                        </nav>
                    </div>

                    <!-- Nav XS -->
                    <div v-if="windowWidth < widthXs" class="box-nav-xs return">
                        <a href="#form-age">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </a>
                    </div>

                </div>
                <!-- end Form 3 -->

            </main>
            <!-- end MAIN -->

            <!-- Recap -->
            <div class="recap display-flex" :class="{ 'display-none' :  !recapFormBlock}">

                <!-- image -->
                <div class="image">
                    <img src="./img/treedom2.png" alt="Treedom Logo">
                </div>

                <!-- Text -->
                <div class="text-recap">

                    <h3>Riepilogo Dati inseriti</h3>

                    <ul>
                        <li>
                            <span>Nome:</span> {{ form_name.name }}
                        </li>
                        <li>
                            <span>Età:</span> {{ form_age.age }}
                        </li>
                        <li v-if="form_email.email !== null && form_email.newsletter">
                            <span>Email:</span> {{ form_email.email }}
                        </li>
                    </ul>

                    <h4>Di seguito la lista delle tecnologie utilizzate per la creazione di questo form</h4>

                    <div class="software">
                        <ul>
                            <li> <span>VsCode:</span> Utilizzato per la stesura del codice</li>
                            <li> <span>Html Css:</span> Utilizzati per gli stili della visualizzazione della pagina</li>
                            <li> <span>Laravel-Mix:</span> Utilizzato per avere un codice più pulito e sfruttare al
                                meglio gli stili css</li>
                            <li> <span>Vue Javascript:</span> Utilizzato per la stesura delle funzioni e iterazioni con
                                l'utente</li>
                            <li> <span>Vuelidate:</span> Utilizzato per la validazione del Form</li>
                        </ul>
                    </div>

                    <h4>Grazie per la vostra attenzione</h4>

                </div>

                <!-- Button -->
                <div class="start display-flex">
                    <button @click="reloadForm()">Ricomincia</button>
                </div>

            </div>

        </section>
        <!-- end Wrapper -->

    </div>
    <!-- end Vue Container -->

    <!-- Script javascript -->
    <script type="text/javascript" src="dist/app.js"></script>

</body>

</html>