<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Form</title>

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- Link Roboto Font Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Script ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- Script Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Script Vuelidate -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="libs/vuelidate.min.js"></script>
    <script src="libs/validators.min.js"></script>

    <!-- Link CSS -->
    <link rel="stylesheet" href="dist/app.css">

</head>

<body>

    <!-- Vue Container -->
    <div id="root">

        <!-- Wrapper -->
        <section class="wrapper">

            <!-- Logo -->
            <div class="logo">
                <img :src="'img/' + headerLogo" alt="logo">
            </div>
            <!-- end Logo -->

            <!-- MAIN -->
            <main>

                <!-- Form 1 -->
                <div class="container display-flex">

                    <!-- Title Form -->
                    <div class="title">
                        <h2>Form Name</h2>
                        <p>In questo form andremo ad inserire una stringa che può essere composta da lettere e numeri;
                            l'unica richiesta è che la stringa non sia pari a zero caratteri.
                        </p>
                    </div>

                    <!-- Form -->
                    <form @submit.prevent="sendForm_name" autocomplete="off">

                        <!-- Name -->
                        <div class="box-form">
                            <label for="name">Nome:</label>
                            <input v-model="form_name.name"
                                @blur="$v.form_name.name.$touch()"
                                :class="{error: errorClass($v.form_name.name), valid: validClass($v.form_name.name)}"
                                id="name">
                            <p v-if="$v.form_name.name.$error"
                                class="error-message">
                                Il campo nome è richiesto
                            </p>
                        </div>

                        <!-- Submit -->
                        <div>
                            <button :disabled="$v.form_name.$invalid">Conferma</button>
                            <a @click="scrollToTop" v-if="form_name_success">Continua</a>
                        </div>

                    </form>

                </div>
                <!-- end Form 1 -->

                <!-- Form 2 -->
                <div class="container display-flex " v-if="form_name_success">

                    <!-- Title Form -->
                    <div class="title">
                        <h2>Form Età</h2>
                        <p>In questo form andremo ad inserire un numero interno compreso tra 12 e 120.
                            Il campo inoltre non accetta l'inserimento di stringhe.
                        </p>
                    </div>

                    <!-- Form -->
                    <form ref="art1" @submit.prevent="sendForm_age" autocomplete="off">

                        <!-- Age -->
                        <div class="box-form">
                            <label for="age">Age:</label>
                            <input v-model.number="form_age.age"
                                @blur="$v.form_age.age.$touch()"
                                :class="{error: errorClass($v.form_age.age), valid: validClass($v.form_age.age)}"
                                id="age">
                            <div v-if="$v.form_age.age.$error">
                                <p v-if="!$v.form_age.age.required"
                                    class="error-message">
                                    Inserisci l'età per proseguire
                                </p>
                                <p v-else-if="!$v.form_age.age.integer"
                                    class="error-message">
                                    Il campo accetta solo numeri
                                </p>
                                <p v-else-if="!$v.form_age.age.minMaxAge"
                                    class="error-message">
                                    Devi aggiungere un dato compreso tra 12 e 120
                                </p>
                            </div>
                        </div>                        

                        <!-- Submit -->
                        <div>
                            <button :disabled="$v.form_age.$invalid">Conferma</button>
                            <a @click="scrollToTop" v-if="form_age_success">Continua</a>
                        </div>                        

                    </form>

                </div>
                <!-- end Form 2 -->

                <!-- Form 3 -->
                <!-- v-if="form_name_success" -->
                <div class="container display-flex " v-if="form_age_success">

                    <!-- Title Form -->
                    <div class="title">
                        <h2>Form Email</h2>
                        <p>
                            In questo form andremo ad inserire una mail, il campo non è obbligatorio
                            se non è presente la spunta nella checkbox della newsletter.
                            Se scriviamo senza aggiungere la spunta il tasto invia si disattiva.                       

                        </p>
                    </div>

                    <!-- Form -->
                    <form @submit.prevent="sendForm_email" autocomplete="off" v-if="form_age_success">

                        <!-- Newsletter -->
                        <div class="box-form">
                            <label for="newsletter">Sottoscriviti alla nostra newsletter</label>
                            <input v-model="form_email.newsletter"
                                type="checkbox"
                                id="newsletter">
                        </div>                   

                        <!-- Email -->
                        <div class="box-form">
                            <label for="email">Email:</label>
                            <input v-model="form_email.email"
                                @blur="$v.form_email.email.$touch()"
                                :class="{error: errorClass($v.form_email.email), valid: validClass($v.form_email.email)}"
                                id="email">
                            <p v-if="!$v.form_email.email.email && $v.form_email.email.$error"
                                class="error-message">
                                L'indirizzo email inserito non è valido
                            </p>
                            <p v-if="!$v.form_email.email.required && $v.form_email.email.$error"
                                class="error-message">
                                L'email è richiesta se vuoi aggiungerti alla nostra lista di newsletter
                            </p>
                        </div>                       

                        <!-- Submit -->
                        <div>
                            <button :disabled="$v.form_email.$invalid">Termina</button>
                        </div>                        

                    </form>

                </div>
                <!-- end Form 3 -->

            </main>
            <!-- end MAIN -->

        </section>
        <!-- end Wrapper -->

    </div>
    <!-- end Vue Container -->

    <!-- Script javascript -->
    <script type="text/javascript" src="dist/app.js"></script>

</body>

</html>