header {
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    background-color: white;
    z-index: 1;

    .logo {
        width: 10%;
    }

    &.position-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}