.intro,
.recap {
    flex-direction: column;
    padding: 20px 0;

    span {
        font-weight: bold;
    }

    li{
        color: $primary-color;
    }

    .image {
        width: 20%;
        margin: auto;

    }

    .text-intro,
    .text-recap {
        text-align: center;
        width: 80%;
        margin: auto;

        p {
            text-align: center;
        }

    }

    .start {
        padding: 15px 0;
        justify-content: center;
    }

    .software {
        padding: 15px 0;
        text-align: left;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:600px) {

    h1 {
        font-size: 30px;
    }

    ul li{
        padding-top: 10px;
    
        &:first-child{
            padding-top: 0;
        }
    
        &:last-child{
            padding-bottom: 10px;
        }
    }

    h3{
        font-size: 23px;
    }

    h4{
        font-size: 18px;
    }

    p {
        font-size: px;
    }
}