main {
    width: 100vw;
    height: 100vh;

    .container {
        width: 100vw;
        height: 100vh;
        padding: 50px;
        flex-direction: column;

        form {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .error-message {
                display: inline-table;
                margin-top: 20px;
                background-color: $white-color;
                padding: 5px;
                border-radius: 7px;
                color: $error-color;
            }

            .submit-status p {
                padding-top: 10px;
                color: $green-color-soft;
            }
        }

        .box-form,
        .title,
        .button-form,
        .box-newsletter {
            width: 60%;
        }

        .title {
            padding: 50px 0 20px 0;
        }

        .box-form > input {
            @include input-style
        }

        .button-form {
            padding-top: 20px;

            i {
                font-size: 11px;
                padding-left: 2px;
                vertical-align: middle;
            }

            div {
                display: inline;
                margin-left: 10px;

                span {
                    font-weight: bold;
                }

                i {
                    transform: rotate(90deg);
                }
            }
        }

        .box-newsletter {
            box-shadow: none;
            padding-bottom: 20px;

            /* Per avere padronanza sugli stili della checkbox */
            input {
                visibility: hidden;
                position: absolute;
            }

            .text {
                color: $primary-color;
            }

            /* Checkbox collegata con la input */
            .input-newsletter {
                width: 20px;
                height: 20px;
                //display: block;
                border-radius: 4px;
                border: 1px solid rgba(79, 176, 174, 0.6);
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;

                i {
                    font-size: smaller;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $green-color;
                    display: none;

                    &.display-block {
                        display: block;
                    }
                }

                &:checked {

                    i {
                        display: block;
                    }

                }
            }
        }

        .continue {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #22ad96;
            bottom: 4%;
            left: 50%;

            a > i {
                color: #fefefe;
                font-size: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .box-nav-lg {
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;

            .footer-navigation {
                display: flex;
                width: 90px;
                justify-content: space-around;
                align-items: center;

                a.disable {
                    i {
                        color: #9c9898;
                        background-color: #ade2d9;
                    }
                }
            }

            i {
                @include i-nav-style;
            }
        }
    }
}


/* mediaQuery */
@media screen and (max-width:600px) {
    main {
        display: flex;
        min-height: min-content;
        flex: none;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-x: scroll;

        p {
            font-size: 15px;
            line-height: 20px;
        }

        .container {
            position: relative;
            padding: 30px 15px 15px 15px;

            .box-form,
            .title,
            .button-form,
            .box-newsletter {
                width: 90%;
            }

            form {
                justify-content: flex-start;
            }

            .box-form > input {
                font-size: 22px;
            }

            .box-nav-xs {
                position: absolute;
                bottom: 15%;
                right: 15%;

                a {
                    text-decoration: none;
                    color: #95D0CE;
                    font-weight: 700;
                    font-size: 16px;
                }

                &.return {
                    left: 15%;
                }

                i {
                    cursor: pointer;
                    font-size: 30px;
                    vertical-align: middle;
                    padding-left: 10px;
                }
            }
        }
    }
}