main {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;

    // For Mobile Device
    &.flex-direction-xs {
        display: flex;
        min-height: min-content;
        flex: none;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-x: scroll;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 50px;

        form {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .box-form,
        .title {
            width: 60%;
        }

        .title {
            padding: 50px 0 20px 0;
        }

        .box-form > input {
            width: 100%;
            font-family: inherit;
            color: rgb(79, 176, 174);
            padding-bottom: 10px;
            border: none;
            outline: none;
            background-image: none;
            background-position: initial;
            background-size: initial;
            background-repeat: initial;
            background-attachment: initial;
            background-origin: initial;
            background-clip: initial;
            transform: translateZ(0px);
            font-size: 30px;
            -webkit-font-smoothing: antialiased;
            line-height: unset;
            -webkit-text-fill-color: rgba(79, 176, 174, 0.3);
            animation: 1ms ease 0s 1 normal none running native-autofill-in;
            transition: background-color 1e+08s ease 0s, box-shadow 0.1s ease-out 0s;
            box-shadow: rgb(79 176 174 / 30%) 0px 1px;
            background-color: transparent !important;
        }

        .continue {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #22ad96;
            bottom: 4%;
            left: 50%;

            a > i {
                color: #fefefe;
                font-size: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }

}