main {

    .container {
        width: 80%;
        height: 100vh;
        margin: auto;
        padding: 50px 0;
        align-items: center;

        /* test */
        border: 1px solid black;

        .title {
            width: 60%;
        }

        form {
            width: 40%;
            text-align: center;
        }
    }

}