/* COLORS */
$primary-color: rgba(61, 61, 61, 0.7);
$secondary-color: #85B973;
$error-color: #AF0404;
$white-color: #FEFEFE;
$green-color: rgb(79, 176, 174);
$green-color-soft:rgba(79, 176, 174, 0.4);
$title-color:rgb(61, 61, 61);